{% extends "layout.html" %}

{% block title %}
    Change Passwords
{% endblock %}

{% block main %}
    <form action="/change_passwords" method="post">
        <div class="mb-3">
            <select name="department" id="department">
                {% for user in users %}
                    <option value={{user[0]}}>{{user[0]}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="New Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
{% endblock %}