{% extends "layout.html" %}

{% block title %}
    {{ order[1] }}
{% endblock %}
{% block main %}
    <head>
        <h1>{{ order[6] }}</h1>
    </head>
    <main class="container py-5 text-center">
        <div class="mb-3">
            <a href="/orders/{{ order[0] }}/remove">Permanently Remove Order</a>
        </div>
            {% if session['level'] != 1 %}
            <div class="mb-3">
                <a href="/orders/{{ order[0] }}/reject">Reject Order</a>
            </div> 
                <div class="mb-3">
                <a href="/orders/{{ order[0] }}/approve">Approve Order</a>
            </div>
        {% endif %}
        <form action="/orders/{{ order[0] }}" method="post">
            <div class="mb-3">
                <textarea autocomplete="off" autofocus class="form-control mx-auto w-auto" name="name" placeholder="Name" type="text">{{order[6]}}</textarea>
                <textarea autocomplete="off" autofocus class="form-control mx-auto w-auto" name="price" placeholder="Price" type="integer">{{order[4]}}</textarea>
                <textarea autocomplete="off" autofocus class="form-control mx-auto w-auto" name="link" placeholder="Link" type="text">{{order[7]}}</textarea>
                <textarea autocomplete="off" autofocus class="form-control mx-auto w-auto" name="description" rows = '5' placeholder="Description" type="text">{{order[8]}}</textarea>
                <textarea autocomplete="off" autofocus class="form-control mx-auto w-auto" name="year" placeholder="Year" type="text">{{order[1]}}</textarea>
                {% if session['level'] == 3 %}
                    <textarea autocomplete="off" autofocus class="form-control mx-auto w-auto" name="status" placeholder="Status" type="text">{{order[2]}}</textarea>
                    <textarea autocomplete="off" autofocus class="form-control mx-auto w-auto" name="externalid" placeholder="ExternalID" type="integer">{{order[12]}}</textarea>
                {% endif %}
            </div>
            <button class="btn btn-primary" type="submit">Change</button>
        </form>
    </main>
{% endblock %}