{% extends "layout.html" %}

{% block title %}
    Years
{% endblock %}

{% block main %}
    <main class="container py-5 text-center">
        <li>
            <a href="/rankings/2010">2010</a>
        </li>
        <li>
            <a href="/rankings/2011">2011</a>
        </li>
        <li>
            <a href="/rankings/2012">2012</a>
        </li>
        <li>
            <a href="/rankings/2013">2013</a>
        </li>
        <li>
            <a href="/rankings/2014">2014</a>
        </li>
        <li>
            <a href="/rankings/2015">2015</a>
        </li>
        <li>
            <a href="/rankings/2016">2016</a>
        </li>
        <li>
            <a href="/rankings/2017">2017</a>
        </li>
        <li>
            <a href="/rankings/2018">2018</a>
        </li>
        <li>
            <a href="/rankings/2019">2019</a>
        </li>
        <li>
            <a href="/rankings/2020">2020</a>
        </li>
        <li>
            <a href="/rankings/2021">2021</a>
        </li>
        <li>
            <a href="/rankings/2022">2022</a>
        </li>
    </main>
{% endblock %}